/*******************************************************************
  Configuración
*******************************************************************/ 

body.tema1 {
   --color-normal:  rgb(255, 255, 255);
   --color-fondo:   rgb(8, 79, 58);
   --color-enfasis: #fff700;
   --color-nav:     rgb(14, 142, 67);
   --color-tarjeta: rgb(14, 142, 104);
   --color-header: rgb(13, 123, 59);
   --color-seleccionado: rgb(8, 73, 35);
   --color-sombra: rgb(56, 247, 142);
}

body.tema2 {
  --color-normal:  rgb(255, 255, 255);
   --color-fondo:   rgb(8, 44, 79);
   --color-enfasis: #fff700;
   --color-nav:     rgb(14, 40, 142);
   --color-tarjeta: rgb(14, 27, 142);
   --color-header: rgb(17, 54, 156);
   --color-seleccionado: rgb(8, 22, 73);
   --color-sombra: rgb(91, 135, 255);
}

body.tema3 {
  --color-normal:  rgb(255, 255, 255);
   --color-fondo:   rgb(79, 8, 8);
   --color-enfasis: #fff700;
   --color-nav:     rgb(142, 14, 14);
   --color-tarjeta: rgb(142, 14, 14);
   --color-header: rgb(109, 11, 11);
   --color-seleccionado: rgb(73, 8, 8);
   --color-sombra: rgb(247, 56, 56);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

h1, h2, h3, h4, h5, b, strong {
  color: var(--color-enfasis);
}

/*******************************************************************
  body, header, main, footer
*******************************************************************/ 

body {
  background-color: var(--color-fondo);
  color: var(--color-normal);
  font-family: Roboto;
  font-size:25px;
  transition: background-color 1s, color 1s;
}



main {

}

footer {

}

/*******************************************************************
    header
*******************************************************************/ 

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: var(--color-header);
  color: var(--color-normal);
}

header > h1{
  padding: 1% 0;
}

  #boton-mostrar-nav {
    display: none;
  }

/*******************************************************************
    nav
*******************************************************************/ 

nav {
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content:space-between;
  width:100%;
  position: sticky;
  top:0px;
  background-color:var(--color-nav);
  cursor: pointer;
}


  #menu-temas {
    width:100%;
    display:flex;
    justify-content:flex-start;
  }

  #menu-contenidos {
    width:100%;
    display:flex;
    justify-content:flex-end;
  }

  /*
  #menu-contenidos > p. {
    text-decoration:none;
    display: block;
    color: var(--color-normal);
    padding: 1% 1%;
  }
  */

  /*
    Botones de tema
  */ 

    #menu-temas > p {
      transition: background-color 1s, color 1s;
      padding: 1% 1%;
    }

    #menu-temas > p.boton-activado {
      background-color: var(--color-seleccionado);
      color: var(--color-normal);
    }

  /*
    Botones de contenido
  */ 

    #menu-contenidos > p {
      transition: all 1s;
      padding: 1% 1%;
    }

    #menu-contenidos > p.boton-activado {
      background-color: var(--color-seleccionado);
      color: var(--color-normal);
    }


/*******************************************************************
    Main
*******************************************************************/ 

main {
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}

/*******************************************************************
    Secciones de contenido
*******************************************************************/ 

section {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1%;
}

section.visible {
  display: block;
}

section.invisible {
  display: none !important;
}

/*******************************************************************
    Intro
*******************************************************************/ 

section:nth-of-type(1) {
  text-align: center;
}

section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5%;
}

section:nth-of-type(2) > #perfil {
  margin-right: 3%;
  width: 540px;
}

#perfil {
  animation-name: animacion-perfil;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animacion-perfil {
  0%, 100% {
      transform:translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  75% {
      transform:translateY(-20px);
  }
}

/*******************************************************************
    Lista de habilidades
*******************************************************************/ 

.listas {
  margin-bottom: 10%;
}

.listas > h3 {
  text-align: center;
}

.listas > div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.listas > div > ul  {
  margin:2%;
}

/*******************************************************************
    Portfolio

       https://web.dev/learn/design/macro-layouts/
*******************************************************************/ 

#portfolio {
  padding-top: 5%;
}

#portfolio > form > select {
  display: block;
  margin: 2% auto;
  background-color: var(--color-normal);
  color: var(--color-fondo);
  font-size: 1.5rem;
  padding: 0 2%;
  border-radius: 20px;
  text-align: center;
}

  #contenedor-tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  }

  div.tarjeta {
    height:15rem;
    text-align: center;
    border-radius: 8px;
    background-color: var(--color-tarjeta);
    padding: 2%;
    margin: 5%;
    font-size: 0.8em;
    transition: all 0.5s;
    /*transition: opacity  2s;*/
  }

  div.tarjeta.invisible {
    /*opacity:0.0;*/
    display: none !important;
  }

  #selector-portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contenedor-tarjetas {
    padding: 5%;
  }

  #contenedor-tarjetas h4 {
    margin-bottom: 10%;
  }

  #contenedor-tarjetas div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #contenedor-tarjetas p {
    margin-top: 3%;
    margin-bottom: 3%;
    transition: color 1s, font-size 1s;
  }

  #contenedor-tarjetas p:hover {
    color: var(--color-enfasis);
    font-size: 1.2em;
  }

  .tarjeta:hover {
    box-shadow: var(--color-sombra) 0px 0px 20px 5px;
    transform: translateY(-10px);
  }

/*******************************************************************
  Contacto
*******************************************************************/

#contacto {
  padding-top: 5%;
  text-align: center;
}

#formulario-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--color-header);
  border-radius: 20px;
  padding: 2%;
  margin: 2% auto;
  width: 50%;
}

input, textarea {
  margin-top: 1%;
  margin-bottom: 2%;
  padding: 1%;
  font-size: 1em;
  border-radius: 20px;
  transition: box-shadow 0.5s;
}

input:hover, textarea:hover, input:focus, textarea:focus {
  box-shadow: var(--color-sombra) 0px 0px 20px 5px;
}

textarea {
  height: 200px;
}

.boton {
  width: 20%;
  background-color: var(--color-seleccionado);
  color: var(--color-normal);
  border: 2px solid var(--color-header);
  border-radius: 20px;
}

